/* ________ Header_________ */

.header-entire-content{
  background: linear-gradient(90deg, #7d7d80 0%, #fff 100%);
}


/* ________ Footer _________ */
.footer {
  width: 100%;
background: linear-gradient(90deg, #fff 0%, #7d7d80 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  position: fixed;
  bottom: 0;

}

.socialMedia svg {
  color: white;
  margin: 20px;
  font-size: 30px;
  cursor: pointer;
}

.footer p {
  color: white;
  font-size: 10px;
}
