.home-style {
  background-image: url("https://wallpaperaccess.com/full/4888.jpg");
  width: 100vh;
  height: 70vh;
  margin-left: 55px;
  margin-right: 30px;
  margin-top: 50px;
  border:  11px ridge cyan;
  background-color: gray;
}

.greeting {
  color: aliceblue;
  text-align: center;
  background-color: grey;
  border: 9px ridge cyan;
}

.title {
  color: green-yellow;
  text-align: center;
  background-color: gray;
  border: 9px ridge cyan;
}
